@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
 
  * {
    @apply box-border;
  }
  ::-webkit-scrollbar {
    @apply w-2 bg-neutral-300/40;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-400/30 hover:bg-neutral-500/40 ;
  }

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -0.2rem;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

  /* shadows */  
  .shadow-light{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  .border-thin-box {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(29, 29, 29);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
  }
  .border-thin-left {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 1px 0px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }
  .border-thin-top {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(29, 29, 29);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.06);
  }
  .border-thin-right {
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(29, 29, 29);
    -moz-box-shadow: inset -1px 0px 0px 0px rgba(29, 29, 29);
    box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }
 
  .border-thin-bottom {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
      -webkit-box-shadow: inset 0px -1px 0px 0px rgba(29, 29, 29);
      -moz-box-shadow: inset 0px -1px 0px 0px rgba(29, 29, 29);
      box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.06);
  }

  /* scroll */
  .scrollMargin {
    scroll-margin-top: 5rem;
  }
 
  /* cursor */
.customCursor{
  clip-path: polygon(0 0, 100% 51%, 54% 60%, 39% 100%)
}
::selection {
  color: white;
  background: black;
}
.stroke-text {
  -webkit-text-stroke: 1.5px black;
  -webkit-text-fill-color: transparent;
}
/* helvetica font */

/* e-Ukraine font family*/
@font-face {
  font-family: "ukraine-thin";
  src: url("./fonts/eUkraineThin.otf");
}
@font-face {
  font-family: "ukraine-light";
  src: url("./fonts/eUkraineLight.otf");
}
@font-face {
  font-family: "ukraine-regular";
  src: url("./fonts/eUkraineRegular.otf");
}

@font-face {
  font-family: "ukraine-medium";
  src: url("./fonts/eUkraineMedium.otf");
}
@font-face {
  font-family: "ukraine-bold";
  src: url("./fonts/eUkraineBold.otf");
}
/* https://getcssscan.com/css-box-shadow-examples */
}